
//fonts
$font-family: 'Bubblegum Sans', cursive;

//colors
$colorbackground:  linear-gradient(-225deg, #f3f8fd 0%, #c6fab9 52%, #015025 100%);

$colorbutton:   rgb(26, 209, 209);

$colorplaces: rgb(226, 233, 125);


//font-sizes

