body {
    margin: 0;
    padding: 0;
    background-image: url('../images/backgroundimage.png');
    background-repeat: no-repeat;
    
    text-decoration: none;
    list-style: none;

}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}