
body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  text-decoration: none;
  list-style: none;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(219, 48, 48);
}